@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: business --default;
}
.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}