---
import Layout from '../layouts/Layout.astro';
import TimeLineElement from '../components/TimeLine.astro';
---
<Layout title="Resume" sideBarActiveItemID="cv">

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <!-- Education -->
  <div class="time-line-container grid gap-5 mb-10">

    <TimeLineElement
      title="Ph.D. in Advanced Electronics and Intelligent Systems"
      subtitle="Since 2023 at University of Alcalá, Spain"
      >
      <ul>
        <li>Advisors:
          <a href="https://scholar.google.es/citations?user=uEBILewAAAAJ" style="color: #4f46e5; text-decoration: none;">Luis M. Bergasa </a>
          and
          <a href="https://scholar.google.es/citations?user=IktmiSAAAAAJ" style="color: #4f46e5; text-decoration: none;">Rafael Barea </a>         
        </li>
        <li>Thesis with title <i><b>Deep Learning for Unified Perception and Prediction in Autonomous Driving.</i></b></li>
      </ul>
    </TimeLineElement>

    <TimeLineElement
      title="M.Sc. in Telecommunications Engineering"
      subtitle="2021 to 2023 at University of Alcalá, Spain"
      >
      <ul>
        <li>Specialization in <b>Space and Defense Technologies.</b></li>
        <li>Final Thesis with title <i><b>Study of Camera-based Systems for Three-dimensional Object Detection in Autonomous Driving.</i></b></li>
      </ul>
    </TimeLineElement>

    <TimeLineElement
      title="B.Sc. in Electronic and Communications"
      subtitle="2017 to 2021 at University of Alcalá, Spain"
      >
      <ul>
        <li>Final Thesis with title <i><b>Stereo Vision System Applied to Detection and 
          Tracking of Objects in Autonomous Driving.</i></b></li>
      </ul>
    </TimeLineElement>

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <!-- Expirience -->
  <div class="time-line-container grid gap-5 mb-10">

    <TimeLineElement
      title="Predoctoral Researcher"
      subtitle="Since May 2024 at RobeSafe, Department of Electronics, University de Alcalá."
    >
    <ul>
      <li>Artificial Intelligence for Perception and Prediction in Autonomous Driving.</li>
      <li>Teaching assistance and student supervision.</li>
    </ul> 
    </TimeLineElement>

    <TimeLineElement
      title="Research Staff"
      subtitle="From January 2023 to April 2024 at RobeSafe, Department of Electronics, University de Alcalá."
    >
    <ul>
      <li>3D Perception for Autonomous Vehicles using Stereo Cameras.</li>
    </ul> 
    </TimeLineElement>

    <TimeLineElement
      title="Engineering Intern"
      subtitle="From November 2022 to December 2022 at Escribano Mechanical and Engineering, Alcalá de Henares, Spain"
    >
    <ul>
      <li>Artificial Intelligence for Road Anomaly Detection in Military Vehicles.</li>
    </ul> 
    </TimeLineElement>

    <TimeLineElement
      title="Research Staff"
      subtitle="From January 2020 to October 2022 at RobeSafe, Department of Electronics, University de Alcalá."
    >
    <ul>
      <li>Camera-based Perception and Creation of Simulation Environments for Autonomous Driving.</li>
    </ul> 
    </TimeLineElement>

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

<ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://certificates.trinitycollege.com/4279c030-8a3d-4bd3-aef7-71bc221c90b9#acc.bum8LGOp/" target="_blank">
        English B2 - Trinity College London Integrated Skills in English (ISE II)
      </a>
    </li>
    <li>
      <a href="https://www.udemy.com/certificate/UC-98e5829d-5b08-47a5-8a8d-83f4ab87b43f/" target="_blank">
        PyTorch for Deep Learning Bootcamp - Udemy
      </a>
    </li>

    <li>
      <a href="https://www.credly.com/badges/64a57f33-9206-47f5-b475-102a1c75cbde?source=linked_in_profile" target="_blank">
        AWS Educate Introduction to Cloud 101
      </a>
    </li>

    <li>
      <a href="https://www.coursera.org/account/accomplishments/specialization/NZDFB6XZ5JBQ" target="_blank">
        Coursera Specialized Program - Deep Learning</a>
        <ul class="list-disc mx-6 mb-10 grid gap-2">
          <li style="margin-top: 0.5cm;">
            <a href="https://www.coursera.org/account/accomplishments/verify/76KE486TD96P" target="_blank">
              Convolutional Neural Networks</a>
          </li> 
          <li>
            <a href="https://www.coursera.org/account/accomplishments/verify/C5XQXDRVV2X7" target="_blank">
              Sequence Models</a>
          </li>
          <li>
            <a href="https://www.coursera.org/account/accomplishments/verify/AG92H89GH2DZ" target="_blank">
              Improving Deep Neural Networks: Hyperparameter Tuning, Regularization and Optimization</a>
          </li>
          <li>
            <a href="https://www.coursera.org/account/accomplishments/verify/FATPV3RVDFBD" target="_blank">
              Neural Networks and Deep Learning</a>
          </li>
          <li>
            <a href="https://www.coursera.org/account/accomplishments/verify/WY6DAPUDXBKA" target="_blank">
              Structuring Machine Learning Projects
            </a>
          </li>
        </ul>
    </li>
  </ul>
</Layout>
