---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Publications" sideBarActiveItemID="publications">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Conferences</div>
  </div>

  <HorizontalCard
    title="Fast and Efficient Transformer-based Method for Bird's Eye View Instance Prediction"
    img="https://raw.githubusercontent.com/miguelag99/Efficient-Instance-Prediction/7340c4cc06ffd901f0a2373dfa6b9f223a9a136c/docs/results.png"
    desc="Presented at 27th IEEE International Conference on Intelligent Transportation Systems. Authors: <strong>Miguel Antunes-García</strong>, Luis M. Bergasa, Santiago Montiel-Marín, Rafael Barea, Fabio Sánchez-García and Ángel Llamazares."
    url="/publications/2024/ITSC_24_FastAndEfficient"
  />
  <!-- <div class="divider my-1"></div> -->
  <HorizontalCard
    title="Exploring Domain Adaptation with Depth-Based 3D Object Detection in CARLA Simulator"
    img="/publications/robot23_teaser.png"
    desc="Presented at the 6th Iberian Robotics Conference. Authors: <strong>Miguel Antunes-García</strong>, Luis M. Bergasa, Santiago Montiel-Marín, Fabio Sánchez-García, Pablo Pardo-Decimavilla and Pedro Revenga."
    url="/publications/ROBOT23"
  />

  <div class="mt-10"></div>
    <div class="text-3xl w-full font-bold mb-5">Journals</div>
  </div>

  <HorizontalCard
    title="SalsaNext+: A Multimodal-based Point Cloud Semantic Segmentation with Range and RGB Images"
    img="https://ieeexplore.ieee.org/ielx8/6287639/10820123/10962238/graphical_abstract/access-gagraphic-3559580.jpg"
    desc="IEEE Access 2024. Authors: Fabio Sánchez-García; Santiago Montiel-Marín; <strong>Miguel Antunes-García</strong>; Rodrigo Gutiérrez-Moreno; Ángel Llamazares; Luis M. Bergasa."
    url="/publications/2024/SalsaNext+"
  />
  <HorizontalCard
    title="Point Cloud Painting for 3D Object Detection with Camera and Automotive 3+1D RADAR Fusion"
    img="https://www.mdpi.com/sensors/sensors-24-01244/article_deploy/html/images/sensors-24-01244-g002-550.jpg"
    desc="Sensors 2024. Authors: Santiago Montiel-Marín, Ángel Llamazares, <strong>Miguel Antunes-García</strong>, Pedro A. Revenga and Luis M. Bergasa."
    url="/publications/2024/pclpainting"
  />

</BaseLayout>
