---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title = "ITSC 2024" sideBarActiveItemID="itsc24">
    <div>
        <div class="text-3xl w-full font-bold mb-5">Fast and Efficient Transformer-based Method for Bird's Eye View Instance Prediction
        </div>
    </div>

    <div class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M12 2L22 22H2L12 2Z"/>
            <path d="M12 8.5V9.5"/>
            <path d="M12 13.5V14.5"/>
            <path d="M12 18.5V19.5"/>
        </svg>
        Under construction...
    </div>


</BaseLayout>
  
