---
import BaseLayout from "../../layouts/BaseLayout.astro";
// Other imports...
---

<BaseLayout title = "ITSC 2024" sideBarActiveItemID="itsc24">
    <div>
        <div class="text-3xl w-full font-bold mb-5">Fast and Efficient Transformer-based Method for Bird's Eye View Instance Prediction
        </div>
    </div>
  
</BaseLayout>
  