---
import BaseLayout from "../../layouts/BaseLayout.astro";
// Other imports...
---

<BaseLayout title = "ROBOT 2023" sideBarActiveItemID="robor23">
    <div>
        <div class="text-3xl w-full font-bold mb-5">Study of camera-based systems for three-dimensional object detection in autonomous driving
        </div>
    </div>
  
</BaseLayout>
  