---
import LogoWall from "../components/LogoWall.astro";
---

<section aria-label="Introduction">
    <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">Miguel Antunes García</div>
    <div class="text-3xl py-3 font-bold">PhD student in AI for Perception and Prediction in Autonomous Driving </div>
    <div class="py-2">
        <text class="text-lg">
        Hi!! My name is Miguel Antunes García. 
        I obtained a BSc in <b>Electronics and Communications</b> in 2021 and a MSc in <b>Telecommunications Engineering</b> in 2023, both from the <a href="https://www.uah.es/es/" style="color: #4f46e5; text-decoration: none;">University of Alcalá (UAH)</a>.
        Currently I am a PhD student at UAH focused on <b>Deep Learning for Unified Perception and Prediction in Autonomous Driving</b>,
        as a member of the research staff in the <a href="https://www.linkedin.com/company/robesafe-research-group/" style="color: #4f46e5; text-decoration: none;">RobeSafe Research Group</a>, in the Electronics Department.
        My research interests cover Artificial Intelligence, Vehicle Motion Prediction and Self-Driving Vehicle Architectures.
        </text>
    </div>
    <LogoWall />
</section>

